# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.*
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build/test
coverage
.nyc_output

# OS
Thumbs.db

# Backend (Laravel)
backend/vendor
backend/.env
backend/storage/*.key
backend/public/storage
backend/public/hot
backend/public/css/filament
backend/public/js/filament
backend/public/fonts/filament
